<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issue</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" stable-bg" data-comp-id="ionic-content.1">
        <!--Form Section-->
        <div data-comp-id="div.1"></div>
        <!--Form Section-->
        <!--Container 1-->
        <label class="item  item-input item-select-icon positive-icon"
            data-comp-id="selectInput.1">
            <span class="input-label">Category</span>
            <select ng-model="data.category.selected"
                ng-options="item as item.label for item in data.category.options"></select>
        </label>
        <label class="item item-input" data-comp-id="textInput.1">
            <span class="input-label">Summary*</span>
            <input ng-model="data.summary" type="text">
        </label>
        <label class="item item-input" data-comp-id="textInput.2">
            <span class="input-label">Description*</span>
            <input ng-model="data.description" type="text">
        </label>
        <label class="item" data-comp-id="takePhoto.1"
            ng-class="{'item-input item-button-right': style === 'control'}"
            take-photo="control">
            <span class="input-label" ng-if="style === 'control'">Take Picture</span>
            <button class="button button-icon" ng-if="style === 'control'">
                <i class="icon positive-icon ion-camera"></i>
            </button>
            <input disabled="" ng-if="style === 'control'" type="text">
            <button class="button button-block button-positive nomargin"
                ng-if="style === 'button'">Take Photo</button>
            <textarea class="not-visible"></textarea>
        </label>
        <!--Container 1-->
        <!--Container 2-->
        <div data-comp-id="div.2"></div>
        <!--Container 3-->
        <!--Container 3-->
        <!--Form Section-->
        <!--Form Section-->
        <!--Container 4-->
        <!--Container 4-->
        <!--Container 5-->
        <!--Form Section-->
        <div data-comp-id="div.3"></div>
        <!--Form Section-->
        <!--Container 5-->
        <!--Container 6-->
        <!--Container 6-->
        <!--Container 7-->
        <!--Container 7-->
        <!--Form Section-->
        <!--Form Section-->
        <div class=" light-bg" data-comp-id="div.4" style="margin: 10px 0px;">
            <div class="row" data-comp-id="row.1" style="padding: 0px;">
                <div class="col" data-comp-id="column.1" style="padding: 0px;"></div>
            </div>
        </div>
        <div data-comp-id="div.5"></div>
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.2" style="padding: 0px; margin: 0px;">
            <div class="col text-center" data-comp-id="column.2" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button
                        class="button icon button-round button-shadowed ion-arrow-left-c button-calm"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.1">Cancel</div>
            </div>
            <div class="col text-center" data-comp-id="column.3" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.4" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button
                        class="button icon ion-arrow-right-c button-round button-shadowed button-energized"
                        style="border-color: rgba(255, 255, 255, 0);"></button>
                    <div class="label"></div>
                </div>
                <div class=" energized" data-comp-id="text.2">Save</div>
            </div>
        </div>
    </div>
</ion-view>